*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(102, 102, 224);
    font-family: sans-serif;
}
img{
    width:100%;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap:10px
}